$heading-font-family: CormorantUpright, sans-serif;
$link-color: #008BF6;
$button-color: #00B3FA;
$background-light-color: #FFFFFF;
$footer-color: #F5F5F5;
$main-text-color: #2A2A2A;
$table-width: 1439px;
$mobile-width: 767px;

